* {
    margin: 0;
}

:root {
    /*font-size: 10px;*/
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: white;
    font-size: 1.8rem;
    background-color: #Ebf2f5;
}

body, input, button, textarea {
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    line-height: 1;
}


